<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <link rel="stylesheet" href="{% static 'cw1.css'%}">
    <script src="{% static 'cw1.js'%}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About us</h1><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error reprehenderit tenetur deserunt itaque ipsa ab ullam est et repellendus? Minus distinctio modi quaerat perferendis cumque animi molestiae aspernatur a ad.</p>
    
</body>
</html>