{% extends 'layout.html' %}
 {% block content %}
 <style>
  body{
    background-color: antiquewhite;
    margin: auto;
  }
  a{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: bisque;
    color: red;
    padding: 6px;
  }
 </style>
 <h2 style="text-align: center;"><u>Counter page</u></h2><br><br>
 <p style="text-align: center;">You visited this page {{count}} times .</p><br><br>
 <a href="{% url 'logout' %}"><button>Logout</button></a>
   {% endblock %}