<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer login</title>
    <style>
        body{
            background-color: rgb(114, 210, 237);

        }
        form{
            text-align: center;
            background-color: antiquewhite;
            padding: 20px;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;"><u>Customer Login</u></h1><br><br>
    <form action="" method="post">
        {%csrf_token%}
        {{form.as_table}}
        <button type="submit">Save details</button>
    </form>
    
</body>
</html>