body {
    background-color: #32a3d3;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: darkblue;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 18px;
}

button {
    padding: 10px 20px;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkslategray;
}
