<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
     <link rel="stylesheet" href="{% static 'contact.css' %}">
     <script src="{%static 'contact.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Contact Me</h1><br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum modi laborum, nulla quaerat praesentium enim dignissimos officia iste obcaecati corporis cum, voluptas sunt maiores, reprehenderit aliquid vitae illo perspiciatis quis!</p>
    <br>
    <button onclick="thankYou()"></button><br>
    <a href="/gallery/">Go to gallery</a>
</body>
</html>